.container.mt-5
  %h1.text-secondary.text-center
    = @event.name
    %span.text-primary Meetup!

  .text-center.my-3
    %a.rounded.text-decoration-none{href: events_path} < Back to events

  .row
    .col-6.offset-3
      %h4.text-secondary= @event.datetime.strftime("%a, %B %d %T")
  .row.mt-2
    .col-6.offset-3
      %h4.text-secondary= @event.description
  .row
    .col-4.offset-4
      %h4= "#{@tickets_left}/#{@event.total_tickets}"

  .row
    .col-12.offset-3
      %turbo-frame#booking_result
        - if flash[:notice].present?
          .alert.alert-success
            = flash[:notice]

  .row.my-5
    .col-12.text-center
      = simple_form_for(@event, url: event_bookings_path(@event.id), method: :post, html: { data: { 'turbo-frame'=> 'booking_result' } }) do |f|
        = number_field_tag :tickets_count
        = f.submit 'Book tickets', class: 'btn btn-primary'
